---
import Layout from '../layouts/Layout.astro';
import cham from '../assets/cham-04.jpg';

/* environment vars */
const isProd = import.meta.env.PROD;
const isDev = import.meta.env.DEV;
const content = import.meta.env.foo ? import.meta.env.foo : 'var not found';

---

<Layout>
  <div class="page__container">
		<div>
			<img src={cham.src} class="main-image"/>
			<p class="wp">Work in progress</p>
		</div>
	</div>
</Layout>

<style>
	.main-image {
		margin: 2rem;
		height: 400px;
		width: auto;
	}

	.wp {
		text-align: center;
		font-size: 3rem;
		font-weight: 900;
	}
</style>