<div class="page_snippet">
  <h6 class="page_snippet-title">Recorrido profesional vinculado a entornos web</h6>

  <ul class="list-grey">
    <li>
      <div class="text-emphasis">hoy - 2015 - Sofftek</div>
      <div>Arquitecto y profesor front-end.</div>
    </li>
    <li>
      <div class="text-emphasis">2013-15 InmediaStudio - Santillana</div>
      <div>Analista y team leader front-end y back-end.</div>
    </li>
    <li>
      <div class="text-emphasis">2007-2013 Global Estrategias</div>
      <div>Cursos técnicos (HTML, Flash, vídeo digital....).</div>
    </li>
    <li>
      <div class="text-emphasis">2007-2013 VV</div>
      <div>Realización de páginas webs para diversas empresas.</div>
    </li>
    <li>
      <div class="text-emphasis">2003-04 Tracor</div>
      <div>Cursos de dirección de proyectos web y multimedia.</div>
    </li>
    <li>
      <div class="text-emphasis">1998-2008 Círculo Digital</div>
      <div>Director de proyectos web, multimedia e interactivos.</div>
    </li>
  </ul>

</div>
