<div class="page_snippet">
  <h6 class="page_snippet-title">Otros</h6>
  <ul class="list-grey">
    <li>
      <div class="text-emphasis">Idiomas</div>
      <div>Italiano (alto), inglés (leído alto; hablado, bajo).</div>
    </li>
    <li>
      <div class="text-emphasis">Universidad</div>
      <div>Licenciado en Geografía e Historia, por la UCM (1990-1995).</div>
    </li>
    <li>
      <div class="text-emphasis">Publicaciones</div>
      <div>Autor de <splan class="italic">El laberinto, historia y mito</span> (Alba Editorial, 2008) y <splan class="italic">Marketing de contenidos</span> (Roble SL, 2010).</div>
    </li>
  </ul>
</div>