<div class="page_snippet">
  <h6 class="page_snippet-title">Soft skills</h6>
  <div>
    Coordinación de equipos, team building, compromiso, resiliencia, comunicación, flexibilidad, organización, proactividad.
  </div>
</div>