<section>
  <h3 class="page__title">Resumen</h3>
  <div class="page--text-content">
    <p>Con más de 20 años de experiencia en el desarrollo web y multimedia, he recorrido una sólida trayectoria como <span class="text-emphasis">coordinador y arquitecto front-end.</span> Combino gran pericia técnica, habilidades interpersonales efectivas y <span class="text-emphasis">un compromiso constante con la calidad,</span> cualidades que aplico tanto al diseño de soluciones como a la gestión de equipos y proyectos.</p>

    <p>Domino la arquitectura front-end, abarcando análisis técnicos, patrones avanzados, flujos de trabajo y el uso de herramientas del ecosistema javascript, como <span class="text-emphasis">react, angular, vue,</span> node, scss, astro, nest, vitest o cypress; y también estoy explorando el potencial de <span class="text-emphasis">python</span> (fast api) y el trabajo con los <span class="text-emphasis">grandes modelos de lenguaje (llms)</span> utilizando estrategias y herramientas como <span class="text-emphasis">rag, langchain o hugging face</span>. En etapas previas, trabajé con tecnologías back como php (codeigniter, wp) y sql, entre otras.</p>

    <p>Actualmente, trabajo en <span class="text-emphasis">Softtek</span> (antiguamente Vector), donde lidero proyectos transformadores para clientes globales como <span class="text-emphasis">Riu, Iryo, Aldeasa WDF, ISBAN - Banco Santander, Viajes Barceló y TUI,</span> entre otros. Además, en esta compañía he trabajado como formador técnico capacitando equipos en tecnologías front avanzadas.</p>

    <p>Antes trabajé como front-end y back-end team-leader en <span class="text-emphasis">Inmedia Studio,</span> sobre todo en aplicaciones para Santillana, y previamente desempeñé la labor de director de proyectos durante varios años en <span class="text-emphasis">Círculo Digital,</span> donde lideré desarrollos multimedia para empresas como <span class="text-emphasis">Salvat, Océano, Mapfre</span> y un largo etcétera).</p>

    <p>Mi recorrido profesional combina grandes habilidades técnicas con una mentalidad creativa y colaborativa, construida a lo largo de una trayectoria que también incluye experiencias como <span class="text-emphasis">editor, escritor, guionista y profesor.</span></p>
  </div>

  <p class="align-center">
    <a href="./cv/highlights/">
      <button class="main-button">Ver detalles</button>
    </a>
  </p>

</section>