---
import { ClientRouter } from "astro:transitions";

/* Las custom deben cargarse primero */
import '../styles/sizes.css';
import '../styles/colors.css';
import '../styles/typography.css';
import '../styles/shadows.css';

import '../styles/reset.css';
import '../styles/global.css';
import '../styles/animations.css';
import '../styles/buttons.css';
import '../styles/lists.css';
import '../styles/layout.css';


import MainFooter from "./components/MainFooter.astro";
import MainHeader from "./components/MainHeader.astro";
import MainSidebar from "./components/MainSidebar.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

		<meta name="generator" content={Astro.generator} />
    <meta name="title" content="mmfilesi lab" />
    <meta name="description" content="marcos méndez filesi - personal lab page" />
		<title>mmfilesi lab</title>
    <ClientRouter />
	</head>
	<body>
		<div class='main-container'>

			<MainHeader />

			<div class='main'>
				<MainSidebar/>
				<main class='main-page'>
					<slot />
				</main>
			</div>

			<MainFooter />

		</div>
	</body>
</html>
